{<<"app">>,<<"elvis_core">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Core library for the Erlang style reviewer">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.config.script">>,<<"rebar.lock">>,<<"src">>,
  <<"src/elvis_code.erl">>,<<"src/elvis_config.erl">>,
  <<"src/elvis_core.app.src">>,<<"src/elvis_core.erl">>,
  <<"src/elvis_file.erl">>,<<"src/elvis_gitignore.erl">>,
  <<"src/elvis_project.erl">>,<<"src/elvis_removed_rules.erl">>,
  <<"src/elvis_result.erl">>,<<"src/elvis_rule.erl">>,
  <<"src/elvis_ruleset.erl">>,<<"src/elvis_style.erl">>,
  <<"src/elvis_task.erl">>,<<"src/elvis_text_style.erl">>,
  <<"src/elvis_utils.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/inaka/elvis_core">>}]}.
{<<"name">>,<<"elvis_core">>}.
{<<"requirements">>,
 [{<<"katana_code">>,
   [{<<"app">>,<<"katana_code">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~> 2.5.3">>}]}]}.
{<<"version">>,<<"6.0.0">>}.
